<p>
Event starts {{ event_time }} on {{ event_day }} {{ event_date }}
</p>
<p>
{{ event_day }}, {{ forecast_time_date }} hourly forecast for {{ location }}:
</p>
<p>
{{ condition }} with a temperature of {{ temperature_english }} F / {{ temperature_metric }} C.
</p>
<p>
Humidity {{ humidity }} with a probability of precipitation at {{ probability_of_precipitation }}%.
</p>
<p>
Wind from the {{ wind_direction }} with a speed of {{ wind_speed_english }} mph.
</p>
<p>
Sunset is {{ sunset_time }}, that leaves {{ daylight_in_minutes }} minutes of daylight before sunset.
</p>
